## Guy Uliel - 318439908

[GitHub Link](https://github.com/guyuliel/InterviewTask)

In [387]:
import pandas as pd 
import numpy as np

In [388]:
df1 = pd.read_excel('ארובות במפעלים.xlsx')
df2 = pd.read_excel('נצ תחנות ניטור.xlsx')

## **Part 1** - <span style="font-size: smaller;">Extract all the Chimneys in the factories and Monitoring Stations located within the coordinates range in Ashdod area</span>

I will start with the file containing the **chimneys in the factories**

In [389]:
df1.head()

,\nמחוז,שם המפעל רשמי,מספר מפעל,שם ארובה ב ENVISTA,שם ארובה מתוך היתר,מספר ארובה,Longitude,Latitude,X,Y
0,דרום,"אדמה אגן בע""מ - אשדוד",58868,X1-001 ארובת מחמצן תרמי K9-001,מחמצן תרמי - X1-001 TO,81695,34.673685,31.829072,169209,637487
1,דרום,"אדמה אגן בע""מ - אשדוד",58868,RTO1 X1-032,מתקן RTO1 - X1-032,178223,34.678282,31.829633,169645,637547
2,דרום,"אדמה אגן בע""מ - אשדוד",58868,RTO2 X1-033,מתקן RTO2 - X1-033,178091,34.678383,31.829579,169654,637541
3,דרום,אתגל תחנות כוח שותפות מוגבלת,165589,Z-001 אתגל,Z-001,197613,34.658450,31.839940,167773,638699
4,דרום,גדות פי גלילות שותפות מוגבלת-אשדוד,174620,פי גלילות VRU,VRU,194726,34.683797,31.839584,170172,638648

In [390]:
df1.duplicated(subset=['שם ארובה ב ENVISTA', 'X', 'Y']).sum() # No duplicate rows in df1

0

In [391]:
df1.isna().sum() # No missing values to handle in df1

  \nמחוז              0
שם המפעל רשמי         0
מספר מפעל             0
שם ארובה ב ENVISTA    0
שם ארובה מתוך היתר    0
מספר ארובה            0
Longitude             0
Latitude              0
X                     0
Y                     0
dtype: int64

In [392]:
df1.dtypes

  \nמחוז               object
שם המפעל רשמי          object
מספר מפעל               int64
שם ארובה ב ENVISTA     object
שם ארובה מתוך היתר     object
מספר ארובה              int64
Longitude             float64
Latitude              float64
X                       int64
Y                       int64
dtype: object

In this dataset, the coordinates (X,Y) are currently stored as integers (`int64`). However, I assume that coordinates typically represent spatial data, and it's more common and accurate to store them as floating-point numbers (`float64`). This assumption is based on the need for greater precision in bigger databases

Therefore, I will convert the data type of these fields (X,Y) to `float64`.

In [393]:
df1['X'] = df1['X'].astype(float)
df1['Y'] = df1['Y'].astype(float)

In [394]:
# Filter the data for the specified X and Y coordinate ranges
filtered_data1 = df1[(df1['X'] >= 163000) & (df1['X'] <= 176000) & (df1['Y'] >= 628000) & (df1['Y'] <= 645000)]

In [395]:
filtered_data1.head()

,\nמחוז,שם המפעל רשמי,מספר מפעל,שם ארובה ב ENVISTA,שם ארובה מתוך היתר,מספר ארובה,Longitude,Latitude,X,Y
0,דרום,"אדמה אגן בע""מ - אשדוד",58868,X1-001 ארובת מחמצן תרמי K9-001,מחמצן תרמי - X1-001 TO,81695,34.673685,31.829072,169209.0,637487.0
1,דרום,"אדמה אגן בע""מ - אשדוד",58868,RTO1 X1-032,מתקן RTO1 - X1-032,178223,34.678282,31.829633,169645.0,637547.0
2,דרום,"אדמה אגן בע""מ - אשדוד",58868,RTO2 X1-033,מתקן RTO2 - X1-033,178091,34.678383,31.829579,169654.0,637541.0
3,דרום,אתגל תחנות כוח שותפות מוגבלת,165589,Z-001 אתגל,Z-001,197613,34.658450,31.839940,167773.0,638699.0
4,דרום,גדות פי גלילות שותפות מוגבלת-אשדוד,174620,פי גלילות VRU,VRU,194726,34.683797,31.839584,170172.0,638648.0

------

I will continue with the file containing the **monitoring stations**

In [396]:
df2.head()

,Active,NameH_New,NameH_Old,SiteCode,NameH_Envista,NameE_New,TypeH,AreaH,TypeE,AreaE,X,Y,Elevation_ASL,Elevation_AGL
0,Active,געתון,געתון,IL537RB,געתון,Gaaton,כללית,כפרי,Background,Rural,220272,767765,330.0,4.0
1,Active,"כרמיאל, גליל מערבי",גליל מערבי,IL011SB,"כרמיאל,גליל מערבי","Karmiel, Western Galilee",כללית,פרברי,Background,Suburban,227851,757888,351.0,16.0
2,Active,"עכו, אזור תעשייה דרומי",NaN,NaN,"עכו, אזור תעשייה דרומי","Akko, Southern industrial area",כללית,NaN,Background,NaN,208279,756494,10.0,NaN
3,Active,כחל החדשה,NaN,IL536RB,כחל החדשה,Kahal new,כללית,כפרי,Background,Rural,247629,755446,132.0,3.0
4,Active,"גליל עליון, מכללת תל חי",גליל עליון - תל חי,IL387SB,"גליל עליון, מכללת תל חי","Upper Galilee, Tel Hai college",כללית,פרברי,Background,Suburban,254547,792966,252.0,16.0

In [397]:
df2.duplicated(subset=['NameH_Envista','X','Y']).sum() # No duplicate rows in df2

0

In [398]:
df2.isna().sum()

Active            0
NameH_New         0
NameH_Old        95
SiteCode         22
NameH_Envista     0
NameE_New        61
TypeH             1
AreaH            12
TypeE             3
AreaE            16
X                 7
Y                 8
Elevation_ASL    22
Elevation_AGL    30
dtype: int64

**important note:** Even though there are missing values in df2, since we are slicing the data, we will handle the missing values afterward.
This approach ensures that we focus on the relevant subset of data for our analysis, which may not contain the missing values in the original dataset. Therefore, any necessary handling of missing values will be done post-slice to ensure the data we analyze is complete

In [399]:
df2.dtypes

Active            object
NameH_New         object
NameH_Old         object
SiteCode          object
NameH_Envista     object
NameE_New         object
TypeH             object
AreaH             object
TypeE             object
AreaE             object
X                 object
Y                 object
Elevation_ASL    float64
Elevation_AGL    float64
dtype: object

Based on df1, I assume the type of the cordinate values should be float; therefore, I will convert them to `float64`

Since the current fields types (X,Y) are `object`, they may contain values that cannot be converted to float. Therefore, we will convert them to a numeric value, which automatically converts to `float64`.

In [400]:
df2['X'] = pd.to_numeric(df2['X'], errors='coerce')  # Using errors='coerce' - values that cannot be converted float64 will be replaced with NaN (Not a Number)
df2['Y'] = pd.to_numeric(df2['Y'], errors='coerce')

In [401]:
# Filter the data for the specified X and Y coordinate ranges
filtered_data2 = df2[(df2['X'] >= 163000) & (df2['X'] <= 176000) & (df2['Y'] >= 628000) & (df2['Y'] <= 645000)].reset_index(drop=True)

In [402]:
filtered_data2.head()

,Active,NameH_New,NameH_Old,SiteCode,NameH_Envista,NameE_New,TypeH,AreaH,TypeE,AreaE,X,Y,Elevation_ASL,Elevation_AGL
0,Active,"אשדוד, אזור תעשיה קלה",אשדוד איגוד,IL115SB,"אשדוד, אזור תעשיה קלה","Ashdod, Light industrial area",כללית,פרברי,Background,Suburban,168821.0,636347.0,16.0,15.0
1,Active,"אשדוד, אזור תעשייה צפוני",NaN,IL535II,"אשדוד, אזור תעשייה צפוני","Ashdod, North industrial area",תעשייתית,תעשייתי,Industrial,Industrial,170171.0,638527.0,30.0,4.0
2,Active,"אשדוד, פארק לכיש",בית הדר,IL423SB,"אשדוד, פארק לכיש","Ashdod, Lakhish park",כללית,פרברי,Background,Suburban,166965.0,635745.0,18.0,20.0
3,Active,"אשדוד, רובע ט""ו החדשה",אופק,IL383SB,"אשדוד, רובע ט""ו החדשה","Ashdod, Tu Quarter new",כללית,פרברי,Background,Suburban,164865.0,631309.0,62.0,16.0
4,Active,"אשדוד, שדרות ירושלים",היובל,IL405UT,"אשדוד, שדרות ירושלים","Ashdod, Jerusalem boulevard",תחבורתית,עירוני,Traffic,Urban,166293.0,633602.0,0.0,3.0

---

## **Part 2** - <span style="font-size: smaller;">Determine the closest monitoring station for each chimney and, conversely, to identify the nearest chimney for each monitoring station</span>

The distance formula calculates the straight-line distance between two points in a Cartesian plane

In [403]:
def distance(x1,y1,x2,y2): # Function that gets 2 Landmarks and calculate the distance between them
    return np.sqrt((x1-x2)**2+(y1-y2)**2)

#### *1. For each chimney, i will find the nearest monitoring station*

In [410]:
distlst1 = []  # Initialize an empty list to store the minimum distance and closest station for each row in the first DataFrame

# Iterate over each row in the first DataFrame (filtered_data1)
for _, row in filtered_data1.iterrows():
    
    # Initialize the minimum distance to a very large number (infinity) for each row
    min_distance = float('inf')
    # Initialize the closest station to an empty string for each row
    closest_station = ''

    # Iterate over each row in the second DataFrame (filtered_data2)
    for _, row2 in filtered_data2.iterrows():
        
        # Calculate the distance between the current row of the first DataFrame and the current row of the second DataFrame
        dist = distance(row['X'], row['Y'], row2['X'], row2['Y'])
        
        # If the calculated distance is less than the current minimum distance
        if dist < min_distance:
            # Update the minimum distance
            min_distance = dist
            # Update the closest station with the name from the second DataFrame
            closest_station = row2['NameH_Envista']

    # Append a dictionary with the current row's name, the closest station, and the minimum distance to the list
    distlst1.append({'שם הארובה': row['שם ארובה ב ENVISTA'], 
                     'תחנת ניטור קרובה ביותר': closest_station, 
                     'מרחק': min_distance})

# Convert the list of dictionaries to a DataFrame
result1_df = pd.DataFrame(distlst1)

In [411]:
result1_df

                         שם הארובה    תחנת ניטור קרובה ביותר         מרחק
0   X1-001 ארובת מחמצן תרמי K9-001              אגן כימיקלים   118.810774
1                      RTO1 X1-032              אגן כימיקלים   367.766230
2                      RTO2 X1-033              אגן כימיקלים   377.344670
3                       Z-001 אתגל                 פז"א מסוף  1077.628879
4                    פי גלילות VRU  אשדוד, אזור תעשייה צפוני   121.004132
5                              F56              אגן כימיקלים   480.817013
6                              F55              אגן כימיקלים   529.060488
7                          Stack 6                 פז"א מסוף  1195.423356
8                          Stack 7                 פז"א מסוף  1187.352096
9                          Stack 8                 פז"א מסוף  1092.103475
10                         Stack 9                 פז"א מסוף  1132.026943
11                         Stack 2          נמל אשדוד משרדים  1104.756987
12                         Stack 4                 פז"א מסוף   978.160007
13                           FLAKT  אשדוד, אזור תעשייה צפוני   223.080703
14                          DANECO  אשדוד, אזור תעשייה צפוני   222.036033
15                   חן בקרת אקלים  אשדוד, אזור תעשייה צפוני   285.464534
16                          142-S1                 פז"א דרום   433.028867
17                           S-154                 פז"א דרום   656.515042
18                         161-FCC                 פז"א דרום   552.905959
19                         316-S-2                 פז"א דרום   117.957620
20                             301                 פז"א דרום   152.295765
21                           S-155                 פז"א דרום   510.797416
22                         VRU-485                 פז"א מסוף   241.811910
23               Cogen 1 – S1 -315                 פז"א דרום    68.883960
24                         S-10UHA               ניידת אשדוד   475.656389

---

#### *2. For each monitoring station, i will find the nearest chimney*

In [414]:
distlst2 = []  # Initialize an empty list to store the minimum distance and closest chimney for each row in the second DataFrame

# Iterate over each row in the second DataFrame (filtered_data2)
for _, row in filtered_data2.iterrows():
    
    # Initialize the minimum distance to a very large number (infinity) for each row
    min_distance = float('inf')
    # Initialize the closest chimney to empty string for each row
    closest_station = ''

    # Iterate over each row in the first DataFrame (filtered_data1)
    for _, row2 in filtered_data1.iterrows():
        
        # Calculate the distance between the current row of the second DataFrame and the current row of the first DataFrame
        dist = distance(row['X'], row['Y'], row2['X'], row2['Y'])
        
        # If the calculated distance is less than the current minimum distance
        if dist < min_distance:
            # Update the minimum distance
            min_distance = dist
            # Update the closest chimney with the name from the first DataFrame
            closest_station = row2['שם ארובה ב ENVISTA']

    # Append a dictionary with the current row's name, the closest chimney, and the minimum distance to the list
    distlst2.append({'שם תחנת הניטור': row['NameH_Envista'], 
                     'ארובה קרובה ביותר': closest_station, 
                     'מרחק': min_distance})

# Convert the list of dictionaries to a DataFrame
results2_df = pd.DataFrame(distlst2)

In [416]:
results2_df

,שם תחנת הניטור,ארובה קרובה ביותר,מרחק
0,"אשדוד, אזור תעשיה קלה",X1-001 ארובת מחמצן תרמי K9-001,1204.219249
1,"אשדוד, אזור תעשייה צפוני",פי גלילות VRU,121.004132
2,"אשדוד, פארק לכיש",Stack 2,2770.759102
3,"אשדוד, רובע ט""ו החדשה",X1-001 ארובת מחמצן תרמי K9-001,7552.351952
4,"אשדוד, שדרות ירושלים",X1-001 ארובת מחמצן תרמי K9-001,4857.600333
5,בני דרום,S-10UHA,1608.011194
6,גן דרום,S-10UHA,3302.917650
7,גן יבנה,S-10UHA,5766.973556
8,יבנה,פי גלילות VRU,6503.805425
9,"מ.א. חבל יבנה, קבוצת יבנה מערב",S-10UHA,3336.388766
10,מתקן ים תטיס,142-S1,793.640347
11,ניר גלים 1,RTO2 X1-033,533.168829
12,ניר גלים 2,RTO2 X1-033,529.244745
13,נמל אשדוד רציף 3 דיוטי פרי,Stack 2,1577.920467
14,נמל אשדוד רציף 4,Stack 2,1623.763530
15,נמל אשדוד רציף 5,Stack 2,1545.218755
16,נמל אשדוד רציף 30,Stack 2,2438.848294
17,נמל אשדוד משרדים,Stack 2,1104.756987
18,נמל אשדוד רציף 1,Stack 2,1299.606864
19,"פז""א מסוף",VRU-485,241.811910
20,"פז""א",142-S1,513.821954
21,"פז""א דרום",Cogen 1 – S1 -315,68.883960
22,פי גלילות אשדוד,301,672.679716
23,"יבנה, ניידת 2",פי גלילות VRU,4067.274886
24,אגן כימיקלים,X1-001 ארובת מחמצן תרמי K9-001,118.810774
25,אשדוד נמל רציף 5,Stack 2,1548.812448
26,ניידת אשדוד,S-10UHA,475.656389
27,אורט,Stack 2,2586.717031
28,יהלום,Stack 2,2897.463891
29,חבל יבנה,S-10UHA,3826.787687
30,רובע טו,X1-001 ארובת מחמצן תרמי K9-001,7611.470883